<div mat-dialog-title class="dialog-header">
  Chest Counter Setup
  <button mat-icon-button aria-label="close dialog" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <mat-stepper class="tab-content" [orientation]="platform.isMobile() ? 'vertical' : 'horizontal'">
    <mat-step label="Credentials" [stepControl]="inputForm1" editable="true" class="step-container">
      <form [formGroup]="inputForm1" class="form-content">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput type="text" formControlName="username">
          <mat-error *ngIf="this.inputForm1.get('username')?.invalid">Valid email address required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password">
          <button
            mat-icon-button
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()">
            <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Kingdom</mat-label>
          <input matInput type="number" formControlName="kingdom">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Clan name</mat-label>
          <input matInput type="text" formControlName="clanName">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Clan tag</mat-label>
          <input matInput type="text" formControlName="clanTag">
          <mat-error *ngIf="this.inputForm1.get('clanTag')?.invalid">Name already taken</mat-error>
        </mat-form-field>

      </form>
      <div class="actions">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button matStepperNext [disabled]="inputForm1.invalid">Next</button>
      </div>
    </mat-step>
    <mat-step label="Settings" [stepControl]="inputForm2" editable="true" class="step-container">
      <div class="form-content">
        <form [formGroup]="inputForm2">
          <mat-form-field appearance="outline">
            <mat-label>Minimal score</mat-label>
            <input matInput type="number" formControlName="minScore">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Minimum epic crypts</mat-label>
            <input matInput type="number" formControlName="minEpicCryptCount">
          </mat-form-field>
          <div>
            @if (slider && +slider.value < 3 && +slider.value >= 0) {
              <mat-label>Clan type: <b>{{ levelMap[+slider.value].title}}</b>
                <mat-icon [matTooltip]="levelMap[+slider.value].subtitle">info</mat-icon>
              </mat-label>
            }
            <mat-slider min="0" max="2" step="1" showTickMarks discrete [displayWith]="formatLabel">
              <input matSliderThumb formControlName="level" #slider>
            </mat-slider>
          </div>
        </form>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <span>Advanced settings</span>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <p style="font-size: smaller">Fill in targets for various chest types to display clan targets in
              dashboard</p>
            <app-task-setup #taskSetup [tasks]="tasks"></app-task-setup>
          </ng-template>
        </mat-expansion-panel>
      </div>
      <div class="actions">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext [disabled]="inputForm2.invalid || !isTasksValid()">Next</button>
      </div>
    </mat-step>
    <mat-step label="Points" class="step-container">
      <textarea matInput class="form-content point-system" [ngModel]="pointSystemFormatted"
                [disabled]="true"></textarea>
      <div class="actions">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button [disabled]="isLoading || inputForm1.invalid || inputForm2.invalid || !isTasksValid()"
                (click)="onSubmit()">Create
          <mat-progress-spinner *ngIf="isLoading"></mat-progress-spinner>
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</mat-dialog-content>
