:host {
  width:100%
}
.pricing-v2-container {

  .deluxe {
    background: #8C730C;
  }

  .bold {
    font-weight: bolder;
  }

  th {
    text-align: center;
  }

  .row {
    min-width: 100px;
    text-align: center;

    .cell {
      min-width: 50px;
      display: inline-block;
    }
  }

}

@media only screen and (max-width: 600px) {
  .pricing-v2-container {
    * {
      font-size: small !important;
    }
    .row {
      min-width: 0;
      text-align: center;

      .cell {
        min-width: 40px;
        display: inline-block;
      }
    }
  }

}
.actions{
  display: flex;
  align-items: center;
  justify-content: center;
}
table{
  table-layout:fixed;
  width:100%;
}
