<div class="pricing-v2-container">
    @if (platform.isMobile()) {
        <ng-container  *ngTemplateOutlet="view; context: contextMobile1"></ng-container>
        <br/>
        <ng-container  *ngTemplateOutlet="view; context: contextMobile2"></ng-container>
    } @else {
        <ng-container  *ngTemplateOutlet="view; context: context"></ng-container>
    }


    <ng-template #view let-tiers="tiers" let-displayedColumns="displayedColumns">
        <table class="mat-elevation-z8" mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="feature">
                <th mat-header-cell *matHeaderCellDef>
                    Feature
                </th>
                <td mat-cell *matCellDef="let row" [ngClass]="{bold: row.bold}"> {{ row.name }}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container *ngFor="let tier of tiers" [matColumnDef]="Plan[tier]">
                <th mat-header-cell *matHeaderCellDef [ngClass]="{deluxe: tier === Plan.DELUXE}" class="columns">
                    {{ Plan[tier].toLowerCase() | titlecase }}
                </th>
                <td mat-cell *matCellDef="let row" class="row columns" [ngClass]="{deluxe: tier === Plan.DELUXE}">
                    <span class="cell" [matBadge]="getBadge(tier, row)">{{ getTableValue(tier, row) }}</span>
                </td>
                <td mat-footer-cell *matFooterCellDef class="columns">
                    @if (getTierAction(tier); as action) {
                      <div class="actions">
                        <mat-chip-option (click)="action.onclick()"
                                         [selected]="selectedPlan === tier">{{ action.title }}
                        </mat-chip-option>
                      </div>
                    }
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
    </ng-template>
</div>
