
.pricing-v2-container {
  .deluxe {
    background: #8C730C;
  }
.bold{
  font-weight: bolder;
}
  th {
    text-align: center;
  }

  .row {
    min-width: 100px;
    text-align: center;

    .cell {
      min-width: 50px;
      display: inline-block;
    }
  }

}
