<mat-card class="pricing-v2-container mat-elevation-z14" appearance="raised">
    @if (platform.isMobile()) {
        <ng-container  *ngTemplateOutlet="view; context: contextMobile1"></ng-container>
        <br/>
        <ng-container  *ngTemplateOutlet="view; context: contextMobile2"></ng-container>
    } @else {
        <ng-container  *ngTemplateOutlet="view; context: context"></ng-container>
    }


    <ng-template #view let-tiers="tiers" let-displayedColumns="displayedColumns">
        <table class="mat-elevation-z8" mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="feature">
                <th mat-header-cell *matHeaderCellDef>
                    Feature
                </th>
                <td mat-cell *matCellDef="let row" [ngClass]="{bold: row.bold}"> {{ row.name }}</td>
              <td mat-footer-cell *matFooterCellDef><span style="color: gray">* per month</span></td>
            </ng-container>

            <ng-container *ngFor="let tier of tiers" [matColumnDef]="tier">
                <th mat-header-cell *matHeaderCellDef [ngClass]="{premium: tier === Plan.PREMIUM}" class="columns">
                    {{ tier.toLowerCase() | titlecase }}
                </th>
                <td mat-cell *matCellDef="let row" class="row columns" [ngClass]="{premium: tier === Plan.PREMIUM}">
                    <span class="cell" [matBadge]="getBadge(tier, row)">{{ getTableValue(tier, row) }}</span>
                </td>
                <td mat-footer-cell *matFooterCellDef class="columns">
                      <div class="actions">
                        @if(tier === 'FREE'){
                          <mat-chip-option (click)="login({plan: tier})"
                                           [selected]="planId?.plan === tier">{{ 'FREE' }}
                          </mat-chip-option>
                        }@else {
                        <mat-chip-option [matMenuTriggerFor]="menu" (click)="$event.stopImmediatePropagation()"
                                         [selected]="planId?.plan === tier">{{ planId?.plan === tier ? planId?.duration : 'START' }}
                        </mat-chip-option>
                        <mat-menu #menu="matMenu" xPosition="before">
                          <button mat-menu-item (click)="login({plan: tier, duration: PlanDuration.mo1})">1 month</button>
                          <button mat-menu-item (click)="login({plan: tier, duration: PlanDuration.mo3})">3 month</button>
                          <button mat-menu-item (click)="login({plan: tier, duration: PlanDuration.mo12})">12 month</button>
                        </mat-menu>
                        }
                      </div>

                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>


        </table>
    </ng-template>
</mat-card>
