<style>
  .in-a-column {
    display: flex;
    flex-flow: column nowrap;
  }

  .link-button {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
  }

  .tab-content {
    width: 400px;
    height: 500px;
  }

  .form-content {
    margin-top: 32px;
    display: flex;
    flex-flow: column;
    margin-left: 5%;
    margin-right: 5%;
  }

  .point-system-content {
    width: 400px;
    height: 477px;
  }

  .level-explanation {
    font-size: large;
  }

  .section-title {
    font-size: small;
    font-weight: bolder;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;

    span {
      color: darkgray;
      padding: 0 10px;
    }
  }
</style>

<h2 mat-dialog-title>Chest counter setup</h2>
<mat-dialog-content>
  <mat-tab-group class="tab-content">
    <mat-tab label="Credentials">
      <form [formGroup]="inputForm" (ngSubmit)="onSubmit()" class="form-content">
        <div class="in-a-column">
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput type="text" formControlName="username">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password">
            <button
              mat-icon-button
              matSuffix
              (click)="clickEvent($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide()">
              <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>
          <hr>
          <mat-form-field appearance="outline">
            <mat-label>Kingdom</mat-label>
            <input matInput type="number" formControlName="kingdom">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Clan name</mat-label>
            <input matInput type="text" formControlName="clanName">
            <mat-error *ngIf="this.inputForm.get('clanName')?.invalid">Name already taken</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Clan tag</mat-label>
            <input matInput type="text" formControlName="clanTag">
          </mat-form-field>

        </div>
      </form>
    </mat-tab>
    <mat-tab label="Requirements">
      <div>
        <form [formGroup]="inputForm" (ngSubmit)="onSubmit()" class="form-content">
          <mat-form-field appearance="outline">
            <mat-label>Minimal score</mat-label>
            <input matInput type="number" formControlName="minScore">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Minimum epic crypts</mat-label>
            <input matInput type="number" formControlName="minEpicCryptCount">
          </mat-form-field>
          <mat-slider min="0" max="2" step="1" showTickMarks discrete [displayWith]="formatLabel">
            <input matSliderThumb formControlName="level" #slider>
          </mat-slider>
          @if (slider && +slider.value < 3 && +slider.value >= 0) {
            <h1 style="text-align: center">{{ levelMap[+slider.value].title }}
              <mat-icon [matTooltip]="levelMap[+slider.value].subtitle">info</mat-icon>
            </h1>
          }
        </form>
        <br>
        <div class="section-title"><span>ADVANCED SETTINGS</span></div>
        <p>Fill in targets for various chest types to display clan targets in dashboard</p>
        <app-task-setup #taskSetup [tasks]="tasks"></app-task-setup>
      </div>
    </mat-tab>
    <mat-tab label="Point system">
      <textarea matInput class="point-system-content" [ngModel]="pointSystemFormatted" [disabled]="true"></textarea>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">CANCEL</button>
  <button mat-button [disabled]="inputForm.invalid || taskSetup.fg.invalid" cdkFocusInitial (click)="onSubmit()">OK
  </button>
</mat-dialog-actions>
