<style>
  tr.example-detail-row {
    visibility: collapse;
  }

  tr.example-detail-row-expanded {
    visibility: visible;

  }

  tr.example-element-row {
    cursor: pointer;
  }

  .example-element-row td {
    border-bottom-width: 0;
  }

  td {
    max-width: 120px
  }

  .example-toggle-button {
    float:right;
    transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .example-toggle-button-expanded {
    transform: rotate(180deg);
  }

  th.expand {
    padding: 0
  }
</style>
<ng-container>
  <mat-toolbar>
    <button mat-raised-button (click)="openDialog()">
      <mat-icon>add</mat-icon>
      Add chest counter
    </button>
    <button mat-icon-button (click)="fetch()" [disabled]="isLoading()">
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-toolbar>
  <br>
  <div class="table-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoading()">
      <mat-spinner [diameter]="40"></mat-spinner>
    </div>
    <table class=" mat-elevation-z8" mat-table [dataSource]="dataSource" multiTemplateDataRows>

      @for (column of columnsBase; track column) {
        <ng-container matColumnDef="{{column}}">
          <th mat-header-cell *matHeaderCellDef>{{ columnMap[column] }}</th>
          <td mat-cell *matCellDef="let row">{{ row[column] }}</td>
        </ng-container>
      }

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Status</th>
        <td mat-cell *matCellDef="let row"> {{ ServiceInterface.getStatus(row) }}</td>
      </ng-container>

      <ng-container matColumnDef="details">
        <td mat-cell *matCellDef="let row" [attr.colspan]="1">
          <mat-chip-set role="list">
            <mat-chip role="listitem">K{{ row.kingdom }} / {{ row.clanTag }}</mat-chip>
            <mat-chip role="listitem">{{ ChestCounterForm.levelMap[row.level].title }}</mat-chip>
            <mat-chip role="listitem" matTooltip="Minimum required weekly score">
              <mat-icon matChipAvatar>sports_score</mat-icon>
              <span>{{ row.minScore }}</span>
            </mat-chip>
            <mat-chip role="listitem" matTooltip="Minimum required weekly epic crypts">
              <mat-icon matChipAvatar>explore</mat-icon>
              <span>{{ row.minEpicCryptCount }}</span>
            </mat-chip>
          </mat-chip-set>

        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions</th>
        <td mat-cell *matCellDef="let row" [attr.colspan]="4">
          <app-table-actions [row]="row" serviceName="chest-counter" (change)="fetch()"
                             (edit)="edit($event)"></app-table-actions>
        </td>
      </ng-container>

      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions" class="expand">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            aria-label="expand row"
            class="example-toggle-button"
            [class.example-toggle-button-expanded]="isExpanded(element)">
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsMobile"></tr>
      <!--      <tr mat-row *matRowDef="let row; columns: columnsMobile;"  (click)="editRow($event, row)"></tr>-->
      <tr mat-row *matRowDef="let element; columns: columnsMobile;"
          class="example-element-row"
          [class.example-expanded-row]="isExpanded(element)"
          (click)="toggle(element)">
      </tr>
      <tr mat-row *matRowDef="let row; columns: columnsExtra" class="example-detail-row"
          [class.example-detail-row-expanded]="isExpanded(row)"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page">
    </mat-paginator>
  </div>
</ng-container>
