.feature-content {
  width: 320px;
  color: white;
  mat-card-title {
    font-family: monospace;
    font-weight: bolder;
  }
  mat-card-content {
    font-weight: 100;
  }
}

.description {
  font-size: medium;
  color: whitesmoke;
  height: 100px;
}

.feature-header {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  height: 100px;

}


.subfeatures {
  display: flex;
  flex-flow: column;
  align-items: start;
  margin-left: 44px;
}
