<mat-card class="feature-content">
  <mat-card-header>
    <div class="feature-header" [ngStyle]="featureStyle">
      <mat-card-title>{{ feature.name | uppercase }}</mat-card-title>
    </div>
  </mat-card-header>
  <mat-card-content>
    <p class="description">{{ feature.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    @for (action of feature.actions; track action.path) {
      <button mat-button [routerLink]="action.path" (click)="scrollToTop()">{{ action.title }}</button>
    }
  </mat-card-actions>
</mat-card>
