.feature-content {
  width: 320px;
  color: white;
}

.description {
  font-size: medium;
  color: whitesmoke;
  height: 60px;
}

.feature-header {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: left;
}

.feature-image {
  background-size: cover;
  border-radius: 50%;
  margin-right: 24px;
}

.subfeatures {
  display: flex;
  flex-flow: column;
  align-items: start;
  margin-left: 64px;
}
