
<div class="no-scroll" [class.example-is-mobile]="platform.isMobile()">
  <mat-toolbar class="toolbar">
    <div class="toolbar-items">
      <span class="logo">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <img src="/assets/logo.png" alt="Logo" class="logo-img" routerLink="/">
        <span routerLink="/" *ngIf="!platform.isMobile()">Battle Squire</span>
      </span>
      <span class="anchors">
        <a routerLink="" fragment="features">FEATURES</a>
        <a routerLink="" fragment="pricing">PRICING</a>
        <a routerLink="" fragment="contactus">CONTACT US</a>
        <ng-container *ngIf="isAuthenticated$|async">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon fontIcon="person"></mat-icon>
          </button>
        </ng-container>
      </span>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [mode]="platform.isMobile() ? 'over' : 'side'"
                 [fixedInViewport]="platform.isMobile()" fixedTopGap="44" opened="true">
      <div class="sidenav">
        <app-navigator></app-navigator>
        <div class="footer">
          <p>&copy; 2025 Battle Squire | <a href="assets/terms.html">Terms and Conditions</a> | Contact: <a
            href="mailto:support@battle-squire.com">support&commat;battle-squire.com</a></p>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content class="example-sidenav-content no-scroll">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-menu #menu="matMenu">
    <button mat-menu-item
            (click)="openAcountDialog()">
      <mat-icon>person</mat-icon>
      Account
    </button>
    <hr/>
    <button mat-menu-item
            (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </mat-menu>

</div>
