<mat-toolbar color="primary">
    <span>K129</span>
    <span class="space-filler"></span>
    <div class="buttons">
        <button mat-stroked-button routerLink="/stacker" routerLinkActive="active" matTooltip="Stack calculator">
            <div class="center">
            <span class="material-symbols-outlined">calculate</span>
                <span class="space-filler"></span>

                <span>Stack</span>
            </div>
        </button>
      <button mat-stroked-button routerLink="/chest-counter" routerLinkActive="active"
              matTooltip="Chest counter">
        <div class="center">
          <span class="material-symbols-outlined">inventory_2</span>
          <span class="space-filler"></span>
          <span>Chest counter</span>
        </div>
      </button>
        <button mat-stroked-button routerLink="/cp-clan-runs" routerLinkActive="active"
                matTooltip="CP clan run calculator">
            <div class="center">
            <span class="material-symbols-outlined">sprint</span>
                <span class="space-filler"></span>

            <span>CP Clan Run</span>
            </div>
        </button>

        <span class="space-filler"></span>
    </div>
</mat-toolbar>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
