<div class="example-container" [class.example-is-mobile]="isMobile()" class="no-scroll">
  <mat-toolbar>
    <div class="toolbar-items">
    <span class="logo">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <img src="/assets/logo.png" alt="Logo" class="logo-img">
      <span>Battle Squire</span>
    </span>
      <ng-container *ngIf="isAuthenticated$|async">
        <button mat-mini-fab [matMenuTriggerFor]="menu">
          <mat-icon fontIcon="person"></mat-icon>
        </button>
      </ng-container>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [mode]="isMobile() ? 'over' : 'side'"
                 [fixedInViewport]="isMobile()" fixedTopGap="56">
      <app-navigator></app-navigator>
    </mat-sidenav>

    <mat-sidenav-content class="example-sidenav-content no-scroll">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-menu #menu="matMenu">
    <button mat-menu-item
            (click)="openUserSettings()">
      <mat-icon>settings</mat-icon>
      Settings
    </button>
    <hr/>
    <button mat-menu-item
            (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </mat-menu>
</div>
