
.grid-container {
  margin: 20px;
  .tracked{
    color: yellow;
    font-weight: bolder;
  }
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  display: flex;
  flex-flow:row;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;


}

.dashboard-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  button {
    margin-right: 24px;
  }
}
