<div class="task" [ngClass]="{'open-goal': task.goal <= 0, 'closed-goal': task.goal > 0}">
  <mat-icon class="spinner-icon overlay" *ngIf="task.counter >= task.goal; else text">{{isOpenGoal ? 'pending' : 'task_alt'}}</mat-icon>
  <ng-template #text>
    <div class="spinner-icon overlay spinner-text">{{task.counter / task.goal | percent}}</div>
  </ng-template>
  <mat-progress-spinner mode="determinate" class="spinner-shadow overlay"
                        value="100"></mat-progress-spinner>
  <mat-progress-spinner
    class="spinner-main overlay"
    [mode]="!isOpenGoal ? 'determinate' : 'indeterminate'"
    [value]="!isOpenGoal ? task.counter / task.goal * 100 : 100">
  </mat-progress-spinner>
  <div class="task-title" [ngStyle]="{'font-size': fitTitle(task.title)}">{{ task.title }}</div>
  <div class="task-subtitle">
    <mat-chip>{{ task.counter }}</mat-chip>
    <span *ngIf="!isOpenGoal" class="goal">/{{task.goal}}</span>
  </div>
</div>
