.controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  height:100%;

  mat-form-field {
    margin-right: 12px;
  }
}
.my-chest-counters {
  width: 350px;
  margin-left: 6px;
}
.date-info {
  font-size: small;
  width: 100%;
  display: flex;
  flex-flow: column;
  .example-link{
    font-size: medium;
    color: deepskyblue;
  }
}
.table-container {
  height: 900px;
  overflow: auto;
  .untracked {
  }
  .tracked{
    color: yellow;
    font-weight: bolder;
  }
}
.clan-dashboard {
  height:100%;
  width:100%;
  mat-card-content {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
  }
}
