<div>
  <!--  <mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionText">-->
  <!--    @for (option of searchResults$|async; track option) {-->
  <!--      <mat-option [value]="option">-->
  <!--        <mat-chip disabled>K{{ option.kingdom }}</mat-chip>-->
  <!--        /-->
  <!--        <mat-chip disabled>{{ option.tag }}</mat-chip>-->
  <!--      </mat-option>-->
  <!--    }-->
  <!--  </mat-autocomplete>-->
  <mat-toolbar>
    <div class="controls">
      <form (ngSubmit)="onSubmit()">
        <mat-form-field subscriptSizing="dynamic">
          <input matInput type="text" name="selectedProfile" placeholder="Enter clan tag"
                 [formControl]="clanTagControl">
          <!--               [matAutocomplete]="auto">-->
          <button matSuffix mat-icon-button aria-label="find" [disabled]="!clanTagControl.valid"
                  type="submit">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </form>
      @if (chestCounters$|async; as chestCounters) {
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>Your chest counters</mat-label>
          <mat-select [(ngModel)]="selectedChestCounter" (selectionChange)="getByClanTag($event.value.clanTag)">
            @for (chestCounter of chestCounters; track chestCounter) {
              <mat-option [value]="chestCounter">
                <mat-chip disabled>K{{ chestCounter.kingdom }}</mat-chip>
                /
                <mat-chip disabled>{{ chestCounter.clanTag }}</mat-chip>
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      }
    </div>
  </mat-toolbar>
  <br>
  <div class="example-loading-shade" *ngIf="isLoading">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>
      <mat-card class="clan-dashboard">
        <mat-card-content>
          @for (task of tasks; track task.title) {
            <app-task [task]="task"></app-task>
          }
        </mat-card-content>
      </mat-card>
  <br>
  <table class="mat-elevation-z8" mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="track">
      <th mat-header-cell *matHeaderCellDef>
        Track
      </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="toggleTrackPlayer(row)">
          <mat-icon *ngIf="!row.tracked" class="untracked">check_box_outline_blank</mat-icon>
          <mat-icon *ngIf="row.tracked" class="tracked">star</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="playerName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
        Player
      </th>
      <td mat-cell *matCellDef="let row"> {{ row.playerName }}</td>
      <td mat-footer-cell *matFooterCellDef> {{ getTotalPlayerCount() }} players</td>
    </ng-container>

    <ng-container matColumnDef="epicCryptCount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by epic crypt score">
        Epic crypt score
      </th>
      <td mat-cell *matCellDef="let row"> {{ row.epicCryptCount }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="totalScore">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by score">
        Total score
      </th>
      <td mat-cell *matCellDef="let row"> {{ row.totalScore }}</td>
      <td mat-footer-cell *matFooterCellDef> Total chests</td>
    </ng-container>

    <ng-container matColumnDef="chestCount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by score">
        Chest total
      </th>
      <td mat-cell *matCellDef="let row"> {{ row.chestCount }}</td>
      <td mat-footer-cell *matFooterCellDef> {{ getTotalChestCount() }}</td>
    </ng-container>

    <!-- Weight Column -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</div>
