:host {
  width: 100%;
  max-width: 800px

}
.background-container {
  background-image: url('/assets/chest-counter.png') ;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
}
.grid{
  height: 100%;
  display: flex;
  flex-flow: row wrap;
}
.grid > .grid-child {
  display: flex;
  flex: 1 1;
  min-width: 400px;
  width: 50%;
  align-items: center;
  justify-content: center;
  .grid-child-content {
    max-width: 100%;
    overflow-wrap: anywhere;
  }
}
@media only screen and (max-width: 600px){
  .grid{
    height: 100%;
    display: flex;
    flex-flow: column;
  }
  .grid > .grid-child{
    width: 100%;
    min-width: 300px;

  }
}
.plan-options {
  max-width: 200px;
  mat-chip-listbox{
    max-width: 140px;
  }
  mat-form-field {
    max-width: 200px;
  }
  .var1 {
    display: inline-block;
    width: 80px
  }
  .var2 {
    display: inline-block;
    width: 70px;
    text-align: right;
  }
}

.cryptocurrency {
  text-transform: uppercase;
}
.cancel {
  font-weight: 100;
  cursor: pointer;

}
.center {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  button {
    margin-right: 8px;
  }
}
.form-actions{
  width: 100%;
  display: flex;
  justify-content: end;
}

.thankyou {
  font-family: 'Cardinal', sans-serif;
  font-size: 4.5rem;
  width: 100%;
  text-align: center;
}
