:host {

}

.landing-page {
  display: flex;
  flex-flow: column;
  h1 {
    font-family: 'Cardinal', sans-serif;
    font-size: 4.5rem;
    width: 100%;
    text-align:center;
  }
  h2 {
    font-family: 'Cardinal', sans-serif;
    font-size: 4.5rem;
    width: 100%;
    color: black;
    text-align:center;
    border-bottom: 1px double #000;
    line-height: 0.1em;
    margin: 0 0 64px 0;
    border-top: rgb(28, 28, 28) 2px double;
  }

  h2 span {
    background:#fff;
    padding:0 10px;
  }
  .feature-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 200px;

    .feature {
      margin: 12px;
    }
  }

  .section2-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
    background: rgba(16, 20, 20, 0.5);
    padding: 32px;
    .section2{
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
    }
  }

  .section1-container {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin-bottom: 200px;
    padding: 64px;
    background: rgba(16, 20, 20, 0.5);

    .contact-us {
      width: 400px;

      .contact-us-bg {
        background: linear-gradient(to bottom, rgba(25, 28, 28, 0) 0%, rgba(25, 28, 28, 0.5) 30%, rgba(25, 28, 28, 1) 100%),
        url('/assets/contact-us.png');
        background-size: cover;
        height: 80px;
        margin-bottom: 32px;
      }
    }

    .section1 {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      width: 80%;

      .logo-img {
        height: 180px;
      }


      .login-actions {
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 50px;

        .login-action {
          flex: 1;
          display: flex;
          flex-flow: row;
          width: 100%;
          min-width: 250px;
        }

        .right-login-action {
          justify-content: end;
        }

        .divider {
          margin-left: 30px;
          margin-right: 30px;
          flex: 1
        }

        button {
          margin-bottom: 12px
        }
      }

    }

    .section2 {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      width: 20%;
      min-width: 300px;

      .contact-form {
        display: flex;
        flex-flow: column;
      }

      .contact-us-button {
      }
    }

  }

  @media (max-width: 800px) {
    .section1-container{
      .section1{
        .login-actions {
          flex-flow: column;
          .login-action {
            justify-content: center;
          }

          .right-login-action {
            justify-content: center;
          }
        }
      }
    }
    .section1-container {
      flex-flow: column;
      justify-content: normal;
      height: auto;
      margin-bottom: 64px;

      .contact-us {
        margin-top: 64px;
      }
    }
  }
}

