<div class="landing-page">
  <div class="section1-container">
    <div class="section1">
      <img src="/assets/logo.png" class="logo-img">
      <div class="login-title">Battle Squire</div>
      <div class="login-actions">
        <button mat-raised-button (click)="login()" *ngIf="!(auth.isAuthenticated$ | async)">LOGIN</button>
      </div>
    </div>
    <div class="section2 contact-us">
      <mat-card>
        <div mat-card-image class="contact-us-bg" alt="contact us" *ngIf="!messageSent"></div>
        <mat-card-content>
          <form [formGroup]="contactFormGroup" (ngSubmit)="onSubmit()" class="contact-form" *ngIf="!messageSent; else messageSentSuccessfully">
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput type="text" formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>In-game city coordinates / email / telegram</mat-label>
              <input matInput type="text" formControlName="cityCoords">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Message (optional)</mat-label>
              <textarea matInput type="text" formControlName="message"></textarea>
            </mat-form-field>
            <button mat-raised-button type="submit">SEND</button>
          </form>
          <ng-template #messageSentSuccessfully>
            <h1>Thank you!</h1>
            <h5>We will contact you shortly</h5>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="feature-container">
    <app-feature *ngFor="let f of features" [feature]="f" class="feature"></app-feature>
  </div>
</div>
