<div class="landing-page">
  <div class="section1-container dark-overlay">
    <div class="section1">
      <img src="/assets/logo.png" class="logo-img" alt="Battle Squire logo">
      <h1>Battle Squire</h1>
      <div class="login-actions">
        <div class="login-action right-login-action" *ngIf="!(auth.isAuthenticated$ | async)">
          <button mat-button (click)="scrollToBottom()">FREE TRIAL</button>
          <button mat-raised-button (click)="login()">LOGIN</button>
        </div>
        @if (!(auth.isAuthenticated$ | async)) {
          @if (platform.isMobile()) {
            <div class="h-divider-container">
            <mat-divider class="h-divider"></mat-divider>
            </div>
          } @else {
            <mat-divider vertical class="v-divider"></mat-divider>
          }
        }
        <div class="login-action">
          <mat-chip-listbox aria-label="quicklinks">
            @for (link of quickLinks; track link.path) {
              <mat-chip-option (click)="goTo(link)">{{ link.title }}</mat-chip-option>
            }
          </mat-chip-listbox>
        </div>
      </div>
    </div>

  </div>
  <div id="features" class="feature-section-container">
    <h2>Features</h2>
    <div class="feature-container">
      <app-feature *ngFor="let f of features" [feature]="f" class="feature"></app-feature>
    </div>
  </div>
  <div class="section2-container dark-overlay" id="pricing">
    <h1>Pricing</h1>
    <div class="section2">
      <app-pricing></app-pricing>
    </div>
  </div>
  <div class="section2-container" id="contactus">
    <div class="section2 contact-us">
      <mat-card>
        <div mat-card-image class="contact-us-bg" *ngIf="!messageSent"></div>
        <mat-card-content>
          <form [formGroup]="contactFormGroup" (ngSubmit)="onSubmit()" class="contact-form"
                *ngIf="!messageSent; else messageSentSuccessfully">
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput type="text" formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>In-game city coordinates / email / telegram</mat-label>
              <input matInput type="text" formControlName="cityCoords">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Message (optional)</mat-label>
              <textarea matInput type="text" formControlName="message"></textarea>
            </mat-form-field>
            <button mat-raised-button type="submit">SEND</button>
          </form>
          <ng-template #messageSentSuccessfully>
            <h1>Thank you!</h1>
            <h5>We will contact you shortly</h5>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <app-collab></app-collab>
</div>
