
.in-column {
  display: flex;
  flex-flow: column;
  max-width: 420px;
}

.stacker-container {
  height: calc(100% - 44px);

  .example-radio-group {
    display: flex;
    flex-direction: column;
  }


  .scrollable {
    overflow: auto;
  }
  .troop-list-container {
    max-width: 350px;
    .troop-info {
      display: flex;
      flex-flow: row;
      align-items: center;

      .troop-image {
        width: 48px;
        height: 48px;
        margin-right: 16px;
      }

      .troop-count {
        font-size: medium
      }
    }
  }
  .step1-card-container {
    display: flex;
    flex-flow: row;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column; /* Stack rows vertically */
  }

  .row {
    width: 100%; /* Ensure rows span full width */
  }

  .header {
    height: 100px; /* Fixed height for the first row */
    flex: 0 0 auto; /* No grow, no shrink, fixed size */
  }

  .content {
    display: flex;
    overflow: auto;
    flex: 1 1 auto;
    .editor {
      width: 100%;
      height: 100%;
    }
    .example-loading-shade {
      position: absolute;
    }
  }

  .footer {
    height: 50px; /* Fixed height for the last row */
    flex: 0 0 auto; /* No grow, no shrink, fixed size */
    justify-content: end;
    display: flex;
  }

  ::ng-deep .mat-horizontal-stepper-wrapper {
    height: 100%;

    .mat-horizontal-content-container {
      height: 100%;
    }

    .mat-horizontal-stepper-content-current {
      height: 100%;
    }
  }
}

