@use '@angular/material' as mat;

.in-column {
  display: flex;
  flex-flow: column;
  max-width: 420px;
}

.center {
  align-items: center;
  justify-content: center;
}

.bg1 {
  background-image: radial-gradient(
      circle at left, /* Starts from top-right corner */
      transparent 0%, /* Fully transparent at the center of the circle */
      rgba(16, 20, 20, 0.8) 10%, /* Gradually fades to semi-transparent black */
      rgba(16, 20, 20, 1) 30% /* Fully opaque black at the edges */
  ), url('/assets/bg-stacker.png');
  width: 100%;
  height: 100%;
  /* Replace with your background image URL */
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  background-position: left;
}

.bg2 {
  background-image: radial-gradient(
      circle at bottom right, /* Starts from top-right corner */
      transparent 0%, /* Fully transparent at the center of the circle */
      rgba(16, 20, 20, 0.5) 20%, /* Gradually fades to semi-transparent black */
      rgba(16, 20, 20, 1) 50% /* Fully opaque black at the edges */
  ), url('/assets/bg-stacker2.jpg');
  width: 100%;
  height: 100%;
  /* Replace with your background image URL */
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}
.stacker-container {
  height: calc(100% - 72px);
  min-height: 400px;
  padding-bottom: 64px;

  .scrollable {
    overflow: auto;
  }

  .troop-list-container {
    max-width: 350px;

    .troop-list-item {
      height: 68px;
    }

    .troop-info {
      display: flex;
      flex-flow: row;
      align-items: center;

      .troop-image {
        width: 64px;
        height: 64px;
        margin-right: 16px;
      }

      .troop-count {
        font-size: medium
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column; /* Stack rows vertically */

  }

  .row {
    width: 100%; /* Ensure rows span full width */

  }

  .header {
    display: flex;
    align-items: center;
    height: 80px; /* Fixed height for the first row */
    flex: 0 0 auto; /* No grow, no shrink, fixed size */
  }

  .subtitle {
    color: lightgray;
    font-weight: 100;
  }

  .content {
    display: flex;
    overflow: auto;
    flex: 1 1 auto;
    flex-flow: column;

  }


  .content1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .mat-mdc-chip-set-stacked {
      max-width: 290px;
    }
  }


  .footer {
    height: 50px; /* Fixed height for the last row */
    flex: 0 0 auto; /* No grow, no shrink, fixed size */
    justify-content: end;
    align-items: center;
    display: flex;
  }

  ::ng-deep .mat-horizontal-stepper-wrapper {
    height: 100%;

    .mat-horizontal-content-container {
      height: 100%;
      padding: 12px
    }

    .mat-horizontal-stepper-content-current {
      height: 100%;
    }
  }
}

.reset-button {
  margin-bottom: 6px;
}


@media (max-width: 600px) {
  .stacker-container {
    .content1 {
      flex-direction: column;
    }

    .content {
      align-items: center;
      justify-content: start;
    }
  }
}

.editor {
  width: 100%;
  height: 100%;
}

.example-loading-shade {
  position: absolute;
}

.v-divider {
  width: 1px;
  height: 50%;
  margin: 0 64px;
}

.h-divider-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .h-divider {
    width: 50%;
    height: 1px;
    margin: 32px 0;
  }
}
