/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

//:root {
//  @include mat.toolbar-overrides((
//    container-background-color: #191922,
//    container-text-color: whitesmoke
//  ));
//}
//
//:root {
//  @include mat.card-overrides((
//    subtitle-text-color: gold,
//    elevated-container-color: black,
//    outlined-container-color: #191922,
//    outlined-outline-color: #705549
//  ));
//}
//
//:root {
//  @include mat.button-overrides((
//    filled-container-color: #705549,
//    filled-label-text-color: whitesmoke,
//  ));
//}
@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
html {
  color-scheme: dark;
  @include mat.theme((
    color: mat.$cyan-palette,
    typography: Roboto,
    density: 0
  ));
}

@font-face {
  font-family: "Sketch Gothic School";
  src: local("Sketch Gothic School"),
  url("/assets/Sketch Gothic School.ttf") format("truetype");
}

@font-face {
  font-family: "Cardinal";
  src: local("Cardinal"),
  url("/assets/Cardinal.ttf") format("truetype");
}

html, body {
  height: 100%;
  overflow: hidden;
  font-family: Roboto, monospace, sans-serif;
}

body {
  margin: 0;
}

.example-loading-shade {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 40px;

}

.no-scroll {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.start-button {
  color: greenyellow;
  @include mat.button-overrides((
    filled-container-color: greenyellow,
    filled-label-text-color: white,
  ));
}

.stop-button {
  color: orangered;
  @include mat.button-overrides((
    filled-container-color: orangered,
    filled-label-text-color: red,
  ));
}

.delete-button {
  color: #444;
  @include mat.button-overrides((
    filled-container-color: #222,
    filled-label-text-color: #222,
  ));
}

.full-hw {
  height: 100%;
  width: 100%;
}

.in-a-column {
  display: flex;
  flex-flow: column nowrap;

}
