<mat-card class="settings-container">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="in-a-column">
      <mat-form-field appearance="outline">
        <mat-label>Kingdom</mat-label>
        <input matInput type="number" formControlName="kingdom">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Clan</mat-label>
        <input matInput type="text" formControlName="clanName">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Clan</mat-label>
        <input matInput type="text" formControlName="username">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password">
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()">
          <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <button mat-stroked-button class="submit-button" type="submit" [disabled]="!profileForm.valid">SAVE</button>
  </form>
</mat-card>
