<form [formGroup]="fg">
  <div formArrayName="rows" class="column">
    <div *ngFor="let row of rows.controls; let i=index" [formGroupName]="i" class="row">
      <mat-form-field appearance="outline" class="source" floatLabel="always">
        <mat-label>Source</mat-label>
        <mat-select formControlName="source" >
          @for (source of SOURCES; track source) {
            <mat-option [value]="source">{{ source }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="target-count"  floatLabel="always">
        <mat-label>Target</mat-label>
        <input matInput formControlName="goal" type="number">
      </mat-form-field>
      <div matBadge="x" (click)="removeRow(i)" style="height: 60px">&nbsp;</div>
    </div>
    <div class="add">
    <button mat-icon-button (click)="addRow()">
      <mat-icon>add</mat-icon>
    </button>
    </div>
  </div>
</form>
