<mat-card class="account-page">
  <div class="breadcrumb">
    <span>Account</span>
  </div>
  <mat-card-content class="account-page-content">
    @if (user$|async; as user) {
      <p>Hey {{ user.auth0.name }},
        We hope you're enjoying Battle Squire
      </p>

      <span class="contact-support">
      Contact support
      <a href="https://t.me/battle_squire" target="_blank" rel="noopener noreferrer">
        <button mat-icon-button class="telegram-button">
          <mat-icon svgIcon="telegram"></mat-icon>
        </button>
      </a>
      <a (click)="contactRequest()">
        <button mat-icon-button>
          <mat-icon>email</mat-icon>
        </button>
      </a>
    </span>
      <div class="main-cards">
        <mat-card appearance="outlined">
          <mat-card-header>
            Plan
          </mat-card-header>
          <mat-card-content>
            <div class="plan-text-container">
            {{ user.server.planId.plan }}
            <span class="trial" *ngIf="user.server.isTrialActive">PREMIUM TRIAL</span>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-flat-button [routerLink]="['/account/plan']">CHANGE</button>
          </mat-card-actions>
        </mat-card>
        <mat-card appearance="outlined">
          <mat-card-header>
            Days left
          </mat-card-header>
          <mat-card-content>
            {{ user.server.days_left + user.server.trialDaysLeft }}
          </mat-card-content>
          <mat-card-actions [matTooltip]="user.server.planId.plan === 'FREE' ? 'Can\'t add funds for the FREE plan': 'Add funds to your account'">
            @if(!user.server.hasPending){
            <button mat-flat-button [routerLink]="['/account/payment']"
                    [disabled]="user.server.planId.plan === 'FREE'">
            TOP UP</button>
            }@else {
            <button mat-button [routerLink]="['/account/payment']">
              PENDING ORDER
            </button>
            }
          </mat-card-actions>
        </mat-card>
        <mat-card appearance="outlined">
          <mat-card-header>
            Credit
          </mat-card-header>
          <mat-card-content>
            <span class="credit">{{ user.server.credit }}$</span>
          </mat-card-content>
          <mat-card-actions [matTooltip]="user.server.planId.plan === 'FREE' ? 'Can\'t use credits for the FREE plan': 'Invite friends to get credits!'">
            <button mat-button (click)="useCredit()"
                    [disabled]="!user.server.hasCredit || user.server.planId.plan === 'FREE'">
              USE CREDIT</button>
          </mat-card-actions>
        </mat-card>
        <mat-card appearance="outlined">
          <mat-card-header>
            Crypts
          </mat-card-header>
          <mat-card-content>
            <span [class.blink_me]="user.server.cryptCount > user.server.cryptQuota">{{ user.server.cryptCount }}</span>/{{ user.server.cryptQuota }}
          </mat-card-content>
          <mat-card-actions>
            <button mat-flat-button (click)="topUpCrypts()" [disabled]="true" *ngIf="user.server.cryptCount > user.server.cryptQuota">UPGRADE PLAN</button>
          </mat-card-actions>
        </mat-card>
      </div>
    }
  </mat-card-content>
</mat-card>
